In [125]:
import pandas as  pd
data = pd.read_csv('data_cleaned_2021.csv')
data = data.set_index('index') #set index column in data table
#data.set_index('index' ,inplace = True) Yukarıdaki ile aynı işlev

data.index.name = "Job ID"
data

data.head(5) #ilk 5 satır gösterilir
data.tail(5) #son 5 satır gösterilir

data.index #index e erişim
data.values

data.shape #boyutu verir

data.dtypes #column veri tiplerini verir

data.columns

data.axes #row index ve column index verir

data.info()

#spesifik colmn ulaşma
data['Location'] #DataFrame içindeki her column bir pandas.Series dir
data.Location

data.size #column x rows

#Dataframe içinden belirli columnları seçme
new_dataFrame = data[["Location", "Rating", "Founded"]]
new_dataFrame

#Finding salaries from range
data[['Lower Salary','Upper Salary','Avg Salary(K)']]

string = data['Salary Estimate'][0] #columndaki rowa ulaş
def parse_salary(salary_str):
    salary_range = salary_str.split(" ")[0]
    if "-" in salary_range:
        min_salary_str, max_salary_str = salary_str.split("-")
    else:
        min_salary_str = max_salary_str = salary_range
    def clean_and_convert(salary):
        try:
            return float(salary.replace('$', "").split("K")[0]) * 1000
        except ValueError:
            return 0
    min_salary = clean_and_convert(min_salary_str)
    max_salary = clean_and_convert(max_salary_str)

    return pd.Series([min_salary, max_salary])
parse_salary(string)

data["Salary Estimate"].apply(parse_salary)

#dataFrame içinde verilerde değişiklik yapma
data[['Min Salary','Max Salary']] = data["Salary Estimate"].apply(parse_salary)

data['Average Salary'] = (data['Max Salary'] + data['Min Salary']) / 2

data

#frequency of jobs
data['Job Title'].value_counts(normalize = True) *100

#change data type
data['Max Salary'] = data['Max Salary'].astype('int')
data['Min Salary'] = data['Min Salary'].astype('int')
data['Average Salary'] = data['Average Salary'].astype('int')
data

#Salarye göre sırala
data.sort_values('Average Salary', ascending = False) #highest
data.sort_values(['Max Salary', 'Rating'], ascending = [False, True]).head(10) #öncelik max salary eşitse rating e bakacak, bir taraf artan bir taraf azalan

#filter data conditionally
data[data['Job Title'] == "Data Scientist"]
data[data['Max Salary'] > 100000]

data[(data['Job Title'] == "Data Scientist") & (data['Max Salary'] > 150000)]

#find if value exist
data[data["Location"].isin(["Dallas, TX", "New York, NY", "San Jose, CA"])] #conditional or yerine isin kullanabilirisn

#Search within a range
data[data['Max Salary'].between(100000,150000)]

#index kullanarak positiona ulaşma
data.iloc[1]
data.loc[1]

data_copy = data.set_index('Job Title')

data_copy.loc[['Data Scientist', 'Senior Data Engineer']]
data_copy.iloc[0:5]

#change value of specific column
data[0, 'Job Title'] = "Data Specialist"

data['Job Title'] = data['Job Title'].replace("Data Scientist", "Data Specialist")

#delete columns and rows
data = data.drop(columns=['Python', 'excel'])  #erase columns

data = data.drop(index = [0])  #index silme

hqs = data.pop('Headquarters')
data
hqs  #data tablendan column silinip atadığımız değişkene taşındı

del data['Degree'] #degree column silinir (eşitlemene gerek yok)

<class 'pandas.core.frame.DataFrame'>
Index: 742 entries, 0 to 955
Data columns (total 41 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job Title           742 non-null    object
 1   Salary Estimate     742 non-null    object
 2   Job Description     742 non-null    object
 3   Rating              742 non-null    float64
 4   Company Name        742 non-null    object
 5   Location            742 non-null    object
 6   Headquarters        742 non-null    object
 7   Size                742 non-null    object
 8   Founded             742 non-null    int64
 9   Type of ownership   742 non-null    object
 10  Industry            742 non-null    object
 11  Sector              742 non-null    object
 12  Revenue             742 non-null    object
 13  Competitors         742 non-null    object
 14  Hourly              742 non-null    int64
 15  Employer provided   742 non-null    int64
 16  Lower Salary        742 non-null    int64
 17  Upper Salary        742 non-null    int64
 18  Avg Salary(K)       742 non-null    float64
 19  company_txt         742 non-null    object
 20  Job Location        742 non-null    object
 21  Age                 742 non-null    int64
 22  Python              742 non-null    int64
 23  spark               742 non-null    int64
 24  aws                 742 non-null    int64
 25  excel               742 non-null    int64
 26  sql                 742 non-null    int64
 27  sas                 742 non-null    int64
 28  keras               742 non-null    int64
 29  pytorch             742 non-null    int64
 30  scikit              742 non-null    int64
 31  tensor              742 non-null    int64
 32  hadoop              742 non-null    int64
 33  tableau             742 non-null    int64
 34  bi                  742 non-null    int64
 35  flink               742 non-null    int64
 36  mongo               742 non-null    int64
 37  google_an           742 non-null    int64
 38  job_title_sim       742 non-null    object
 39  seniority_by_title  742 non-null    object
 40  Degree              742 non-null    object
dtypes: float64(2), int64(22), object(17)
memory usage: 243.5+ KB